{% extends 'base.html' %}

{% block title %}
    Password reset complete
{% endblock title %}

{% block content %}
    <h1>Password reset complete</h1>
    <p>You can Log In now <a href="{% url 'login' %}">Log In page</a></p>
{% endblock content %}