{% extends 'base.html' %}
{% block title %}Password Change{% endblock title %}

<h1>Password Change</h1>
<p>Please enter your old password, and then enter your new password twice so we can verify you typed it in correctly.</p>

{% block content %}
<h2>Log In</h2>
<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button class="btn btn-success ml-2" type="submit">Change my password</button>
</form>
{% endblock content %}